:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sidebar {
    display: flex;
    height: 250px;
    border: 1px solid green;
    margin-right: 10px;
}

#grid {
    display: grid;
    margin: auto;
    width: 960px;
    height: 960px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}

.grid-square {
    user-select: none;
    text-align: center;
}